<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joora.complaint">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".SignupActivity"
            android:label="Sign Up"
            android:parentActivityName=".LoginActivity"/>
        <activity
            android:name=".RegisterActivity"
            android:label="Register"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".History"
            android:label="History"
            android:parentActivityName=".HomeActivity" />

        <activity android:name=".complaint"
            android:label="Complaint"
            android:parentActivityName=".HomeActivity"/>
        <activity
            android:name=".Feedback"
            android:label="Feedback"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:parentActivityName=".HomeActivity" /
        <activity android:name=".complaint" />



    </application>

</manifest>